* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Vaporwave';
    src: url("RocketRinder-yV5d.ttf");
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-BoldOblique.ttf');
}
body,html {
    background: url('Vaporwave_BG.gif') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%; 
    cursor: url('ImageToStl.com_vaporwave_cursor.gif'), auto;
}
a {
    cursor: url("ImageToStl.com_vaporwave_cursor.gif"), pointer;
}

/* Title styling */
.title {
    font-family: 'Vaporwave', sans-serif;
    grid-area: title;
    /* background-color: yellow; */
    text-align: center;
    font-size: 12vh;
    color: #62cece;
    text-shadow:
    3px 3px 0 #cd2d6e, /* Pink-Magenta shadow */
    3px -3px 0 #cb2d6e; /* Pink-Magenta on right */ 
}

.Programming_Projects_Page {
    display: grid;
    grid-template-columns: 25% 75%; /* Sidebar takes 20%, main content 70% */
    grid-template-rows: auto 1fr; /* Title takes automatic height, main content takes the rest */
    grid-template-areas: 
        "title title"
        "sidebar main";
    gap: 10px; /* Small gap between grid areas */
    height: 100vh; /* Full viewport height */
}
/* Main content styling */
.main_content {
    grid-area: main;
    /* background-color: black; /* Color is just here so i can see what I'm coding*/
    padding: 20px;
    color: #06cc06;
    margin: 5px;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #FE8714;
    background-color: orange;
}
.main_content_items {
    display: grid;
    
    grid-template-columns: repeat(1,1fr);
    overflow-y: auto;
    max-height:560px;
}

.Project_Box {
    display: grid;
    
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2.1fr 0.3fr 0.3fr;
    grid-template-areas: 
    "Image Image Image"
    "Project_Title Project_Title Project_Title"
    "Description Description Description";
    align-items: center;
    justify-items: center;
    height: 75vh;
    width: 100%;
}

.Project_Box .Screenshot {
    grid-area: Image;
    width: 50vh;
    height: 50vh;
}
.Project_Box .Project_Title {
    grid-area: Project_Title;
    font-size: 5vh;
    font-family: "Vaporwave", sans-serif;
    color:#721c7a;
    text-align: center;
}

.Project_Box .Project_Desc {
    grid-area: Description;
    font-size: 4vh;
    font-family: "Helvetica", sans-serif;
    color:#721c7a;
}
.sidebar {
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 5px;
    grid-area: sidebar;
    margin: 5px;
    
}

.sidebar_items {
    margin-top: auto;
    font-size: 4.0vh;
    flex-shrink: 1;
    font-family: 'Vaporwave', sans-serif;
    text-align: center;
    color: #62cece;
    text-shadow:
    2px 2px 0 #cd2d6e, /* Pink-Magenta shadow */
    2px -2px 0 #cb2d6e; /* Pink-Magenta on right */ 
    text-decoration: none;

}

.sidebar_items a:hover {
    font-size: 4.5vh;
}

.sidebar_items .GitHub_Icon {
    width: 75px;
    height: 75px;
}
.sidebar_items .GitHub_Icon:hover {
    width: 85px;
    height: 85px;
}