* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mario_World';
    src: url('TypefaceMarioWorldPixelFilledRegular-rgVMx.ttf');
} 

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-BoldOblique.ttf');
}
@font-face {
    font-family: 'Ethno_Centric';
    src: url('ethnocentric rg.otf');
}

body,html {
    background: url('Free_Animated_Wallpaper.gif') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%; 
    cursor: url('cur21.gif'), auto;
    scroll-behavior: smooth;
}
a {
    cursor: url("cur21.gif"), pointer;
}

.Small_Artist_Spotlight_Page {
    display: grid;
    grid-template-columns: 20% 80%; /* Sidebar takes 20%, main content 80% */
    grid-template-rows: auto 1fr; /* Title takes automatic height, main content takes the rest */
    grid-template-areas: 
        "title title"
        "sidebar main";
    gap: 10px; /* Small gap between grid areas */
    height: 100vh; /* Full viewport height */
}

/* Main content styling */
.main_content {
    grid-area: main;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #06cc06;
    margin-right: 10px;
}

.main_content_items {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    overflow-y: auto;
    max-height:610px;
}

.Shrine_Box {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2.1fr 0.3fr 0.3fr;
    grid-template-areas: 
    "Image Spotify Bullet_Points"
    "Shrine_Title Shrine_Title Shrine_Title"
    "Description Description Description";
    align-items: center;
    justify-items: center;
    height: 83vh;
    width: 100%;
}

.Shrine_Box img { 
    width: 50vh;
    height:50vh;
}
.Shrine_Box .Ratings {
    grid-area: Bullet_Points;
    font-size: 5vh;
    /* background-color: #cc0606; */
}
.Shrine_Box .Main_Desc {
    grid-area: Description;
    text-align: center;
}
.Shrine_Box .Spotify_Widget {
    grid-area: Spotify;
}
.Shrine_Slideshow_Container {
    grid-area: Image;
    background-color: #06cc06;
    width: 50vh;
    height: 50vh;
    overflow: hidden;
    
}
.Shrine_Slideshow_Wrapper {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;

}
.Shrine_Box .Shrine_Title {
    grid-template-areas: Shrine_Title;
    font-size:5vh;
    font-family: 'Helvetica';
}

#Masayoshi_Takanaka_Page {
    background: url('Masayoshi_Background.jpg') no-repeat center center ;
    background-size: cover;
    background-position: fixed;
    font-size: 20px;
    /* color: #FEBE00; */
    color:#FEC20C;
    font-family: 'Helvetica';
}

#Misc_Page {
    background: url('Misc_Background.jpg') no-repeat center center ;
    background-size: cover;
    background-position: fixed;
    font-size: 20px;
    /* color: #FEBE00; */
    color: #39FF14;
    font-family: 'Helvetica';
}

/* Sidebar styling */
.sidebar {
    display: flex;  
    flex-direction: column;
    justify-content: flex-start;
    column-gap: 5px;
    grid-area: sidebar;
    background-color: black;
    padding: 20px;
    border: 2px solid #06cc06;
    border-radius: 10px;
    margin: 5px;
    
}

.sidebar_items {
    margin-top: auto;
    font-size: 2.5vh;
    flex-shrink: 1;
    text-align: center;
    font-family:'Ethno_Centric',sans-serif ;
    color:#06cc06;
    width: 100%;
    height: 10%;
    text-decoration: none;
}

.sidebar_items .funky_blinky {
    width: 200px;
    height: 26.67px;
}
.sidebar_items a:hover {
    color: aqua;
    font-size: 3vh;
}
/* Title styling */
.title {
    font-family: 'Mario_World', sans-serif;
    grid-area: title;
    /* background-color: yellow; */
    text-align: center;
    font-size: 7.85vh;
    color: #06cc06;
}

@keyframes slide {
    0%{
        transform: translateX(0)
    }
    5%{
        transform: translateX(0)
    }
    15%{
        transform: translateX(-100%)
    }
    25%{
        transform: translateX(-100%)
    }
    35%{
        transform: translateX(-200%)
    }
    45%{
        transform: translateX(-200%)
    }
    55%{
        transform: translateX(-300%)
    }
    65%{
        transform: translateX(-300%)
    }
    75%{
        transform: translateX(-400%);
    }
    85%{
        transform: translateX(-400%);
    }
    95%{
        transform: translateX(-500%);
    }
    100%{
        transform: translateX(-500%);
    }

}