html,body {
    background-color: #041f11;
    margin: 0;
    height: 100%;
}

.Start_Page_Container {
    display:flex;
    height: 100vh;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    height: auto;
    width: auto;
}