* {
    margin: 0%
    
}

body{
    background-image: '';
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}


/*:hover {
 only for links
 put after a link class to make a psuedo class which talks about the state of it
}*/
/* must be put in this order or errors 
link = normal aka unnesasary 
visited is self explainitory
active means while you are clicking on said link
hover means when a mouse is hovering over it
